//
// Utilities
//

.u-fl 	  { float: left; }
.u-fr 	  { float: right; }

.u-tal    { text-align: left; }
.u-tac    { text-align: center; }
.u-tar    { text-align: right; }
.u-taj    { text-align: justify; }

.u-ttu    { text-transform: uppercase; }
.u-ttl    { text-transform: lowercase; }

.u-tdu    { text-decoration: underline; }

.u-fsi 	  { font-style: italic; }
.u-fsn 	  { font-style: normal; }

.u-fwn    { font-weight: normal; }
.u-fwb    { font-weight: bold; }

.u-p-5  	{ padding: 5px; }
.u-p-10   { padding: 10px; }
.u-p-15   { padding: 15px; }
.u-p-20   { padding: 20px; }

.u-m-5    { margin: 5px; }
.u-m-10   { margin: 10px; }
.u-m-15   { margin: 15px; }
.u-m-20   { margin: 20px; }
