//* MEDIA OBJECT ==============================================================================
/*
HTML MARKUP: MEDIA OBJECT
-------------------------
<div class="media">
	<a href="#" class="media__img || media__img--right">
		<img src="*.jpg" alt="" />
	</a>
	<div class="media__content">
		..some text goes here..
	</div>
</div>
*/
.media { 
	margin: 10px; 

	.media__img { 
		float: left;
		margin-right: 10px;

		img {
			display: block;
		}
	}

	.media__img--right { 
		float: right; 
		margin-left: 10px;
	}
}

.media, .media__content { 
	overflow: hidden; 
	_overflow: visible; 
	zoom: 1;
}